.contact-body {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  background-image: url(../../images/HAJJ-2018.png);
  opacity: 0.8;
  background-size: cover;
}
.contact-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1.5em;
  text-align: center;
  background-color: whitesmoke;
  height: auto;
  width: 750px;
}
.contact-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 1px dotted grey;
  text-transform: capitalize;
  margin-top: 30px;
}
.contact-container p {
  text-align: left;
  font-size: 1.2rem;
  margin-top: 20px;
  padding-top: 10px;
  font-weight: bold;
}
.tel {
  color: green;
  font-weight: bold;
  background-color: lightgray;
  width: 50%;
  padding: 0;
  margin: 0;
}
